DATABASE_URL=
DATABASE_URL_UNPOOLED=
TAVILY_API_KEY=
GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:3000/api/gmail/oauth/callback
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000
COLDMAILOS_ADMIN_PASSWORD=
ENCRYPTION_KEY=
BLOB_READ_WRITE_TOKEN=
PDF_SERVICE_URL=
PDF_SERVICE_API_KEY=
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
QSTASH_TOKEN=
DEFAULT_USER_NAME=Om Patil
DEFAULT_USER_EMAIL=patilom1906@gmail.com
DEFAULT_USER_PHONE=7436083790
DEFAULT_USER_LINKEDIN=linkedin.com/in/om-patil19
DEFAULT_USER_GITHUB=github.com/ompatil1906
